.recipe-section {
  width: 100%;
  padding-bottom: 100px;
}

.recipe-container {
  width: 100%;
  margin: 0 auto;
}

.recipes-list-item {
  width: 335px;
  height: 335px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-size: contain;
  overflow: hidden;
}

.recipe-card {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite-icon {
  margin-left: auto;
  width: 22px;
  height: 22px;
  stroke: #f8f8f8;
  fill: transparent;
  cursor: pointer;
}

.recipe-card-title {
  margin-top: 176px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary-color);
}

.recipe-card-description {
  margin-top: 8px;
  width: 303px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 400;
  font-size: 12px;
  color: var(--secondary-color);
}

.recipe-card-rating-btn {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-card-rating {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.rating-card-value{
  font-size: 14px;
  color: var(--secondary-color);
}

.rating-card-body {
  position: relative;
  font-size: 20px;
}

.rating-card-body::before {
  content: '★★★★★';
  display: block;
  color: #f8f8f831;
}

.rating-card-active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-card-active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #eea10c;
}

.recipe-card-rating-list {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.recipe-card-rating-item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.recipe-card-button {
  border-radius: 8px;
  padding: 8px 14px;
  background-color: var(--btn-color);
  color: var(--secondary-color);
  border: inherit;
}

.recipe-card-button:is(:hover, :focus) {
  color: var(--main-color);
}

.pagination-pages {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.nav-btn > button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: inherit;
}

.preview-page,
.next-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-start,
.preview-page {
  position: relative;
  background-color: var(--main-color);
}

.next-page,
.to-end {
  position: relative;
  background-color: var(--btn-color);
}

.nav-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}

.to-start .nav-icon,
.preview-page .nav-icon {
  fill: #f8f8f8;
}

.page-numbers {
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.end-1,
.start-1 {
  position: absolute;
  top: 10px;
  left: 7px;
}

.end-2,
.start-2 {
  position: absolute;
  top: 10px;
  right: 7px;
}

.add-to-favorites-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 22px;
  height: 22px;
  background-color: inherit;
  border: none;
}

.favorite-icon:is(:hover, :focus),
.favorite-icon-active,
.choseRecipe {
  fill: #f8f8f8;
}

.filter-form-list {
  display: flex;
  flex-wrap: wrap;
}

.pageBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(5, 5, 5, 0.5);
  color: var(--main-color);
  background-color: inherit;
}

.pageBtn:is(:hover, :focus) {
  background-color: var(--btn-color);
}

.current-page {
  background-color: var(--btn-color);
}

@media screen and (min-width: 768px) {
  .recipe-section {
    width: 496px;
    padding: 0 0 100px 0;
    margin-left: auto;
  }

  .recipe-container {
    padding: 0;
  }

  .resipes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .recipes-list-item {
    width: 240px;
    height: 264px;
    margin: 0;
    background-size: cover;
  }

  .recipe-card-title {
    margin-top: 105px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .recipe-card-description {
    width: 208px;
  }

  .recipe-card-button {
    top: 217px;
    right: 16px;
    width: 89px;
    height: 31px;
    font-size: 12px;
    font-weight: 500;
  }

  .pagination-pages {
    margin-top: 64px;
  }

  .pageBtn {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .recipe-section {
    width: 782px;
    padding: 0 0 100px 0;
  }

  .resipes-list {
    width: 782px;
  }

  .recipes-list-item {
    width: 250px;
    height: 287px;
  }

  .recipe-card-title {
    margin-top: 128px;
  }

  .recipe-card-description {
    top: 192px;
  }

  .recipe-card-button {
    top: 240px;
  }
}
